<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Expense Pro {% block title %}{% endblock %}</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    {% block script %}{% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block links %}{% endblock %}

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <style>
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Expense Pro</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item home">
                        <a class="nav-link" href="{{ url_for('main.index') }}">Home<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item template">
                        <a class="nav-link" href="{{ url_for('template.template') }}">Template</a>
                    </li>
                    <li class="nav-item history">
                        <a class="nav-link asd" href="{{ url_for('history.history') }}">History</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        {% if current_user.is_authenticated %}
                        <a class="dropdown-item" href="{{ url_for('login.logout') }}">Logout</a>
                        {% else %}
                        <a class="dropdown-item" href="{{ url_for('login.login') }}">Login</a>
                        {% endif %}
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</header>
<section>
    <div class="container" style="min-width: 80%">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert text-center alert-{{ message[0] }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="X">
                            <span aria-hidden="true">&times;</span></button>
                        {{ message[1] }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    {% block content %}{% endblock %}
</section>

<!-- Footer -->
<footer class="page-footer font-small bg-primary text-white">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="#" class="text-white"> Expensepro</a>
    {% block icon_ref %}
    {% endblock %}
    </div>
    <!-- Copyright -->


</footer>
<!-- Footer -->

<script>
$('.dropdown').on('show.bs.dropdown', function(e){
  $(this).find('.dropdown-menu').first().stop(true, true).slideDown(300);
});

$('.dropdown').on('hide.bs.dropdown', function(e){
  $(this).find('.dropdown-menu').first().stop(true, true).slideUp(200);
});




</script>
</body>
{% block endscript %}
{% endblock %}
</html>
