{% extends '_base.html' %}

{% block title %} | History{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<div class="form-horizontal history_page">
    <div class="history_dates">
        From: <input id="from_date" type="date" value={{ from_date.strftime('%Y-%m-%d') }}>
        To: <input id="to_date" type="date" value={{ to_date.strftime('%Y-%m-%d') }}>
        <button id="hist_btn" class="btn btn-info add-more" type="button">GO</button>
    </div>

    <div id="history_data">
    </div>
    <div id="history_graph">
        <input type="radio" id="bar_radio_btn" name="graph_type" value="bar" 
            onclick="draw_hist_graph(all_data, $(this).val());" checked>
        <label for="bar_radio_btn">Bar Graph</label>
        <span>---</span>
        <input type="radio" id="line_radio_btn" name="graph_type"
            onclick="draw_hist_graph(all_data, $(this).val());" value="line">
        <label for="line_radio_btn">Line Graph</label>
        <canvas id="chart"></canvas>
    </div>
    <!-- <hr> -->
</div>
<script>
    var hist_data = ({{ data|safe }});
    var all_data = ({{  graph_yty_data|safe }});
    var ctx = document.getElementById("chart").getContext('2d');
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/history.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}"></script>
<script>draw_hist_graph(all_data);</script>
{% endblock %}