{% extends '_base.html' %}

{% block title %}
| {{ title }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Login Form -->
        <form method="POST">
            <div id="from-header">
                <p>Information</p>
            </div>
            <h4 class="info-msg"> {{ msg }}</h4>
            <hr>
            <div>
                <a class="underlineHover" href="{{ url_for('login.login') }}">Login</a>
            </div>
        </form>
        <!-- Remind Passowrd -->
        <div id="form-footer">
            <a class="underlineHover" href="{{ url_for('reset_password.reset_request') }}">Forgot Password ?</a>
        </div>
    </div>
</div>
{% endblock %}