{% extends '_base.html' %}

{% block title %}
| Login
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Login Form -->
        <form method="POST">
            <div id="from-header">
                <p>Login</p>
            </div>
            {{ form.hidden_tag() }}

            {{ form.email(placeholder='email', class="fadeIn first") }}
            {{ form.password(placeholder='password', class="fadeIn second") }}
            <div class="remember-me fadeIn third">
                <small> Remember me:</small>
                {{ form.remember }}
            </div>
            <input type="submit" class="fadeIn fourth" value="Log In">
            <div>
                <a class="underlineHover" href="{{ url_for('register.register') }}">Register</a>
            </div>
        </form>
        <!-- Remind Passowrd -->
        <div id="form-footer">
            <a class="underlineHover" href="{{ url_for('reset_password.reset_request') }}">Forgot Password ?</a>
        </div>
    </div>
</div>

{% endblock %}