{% extends '_base.html' %}

{% block title %}
   | {{ title }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block content %}
<div class="register-div">
    <form class="form-signin" method="POST" action="">
        <h2 class="form-signin-heading">Reset Password</h2>

        {{ form.hidden_tag() }}
        <div class="form-group">
            {% if form.password.errors %}
                {{ form.password(class='form-control') }}
                <div class="Invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(placeholder='Password', class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {% if form.confirm_password.errors %}
                {{ form.confirm_password(class='form-control') }}
                <div class="Invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password(placeholder='Confirm Password', class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info reset-password") }}
        </div>
        <p>Back to <a href="{{ url_for('login.login') }}">login</a> page !!</p>
    </form>
</div>


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Login Form -->
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div id="from-header">
                <p>New Password</p>
            </div>

            {{ form.password(placeholder='password', class="form-control fadeIn first") }}
            {{ form.confirm_password(placeholder='confirm password', class="form-control fadeIn second") }}

            <div>
                {% for error in form.confirm_password.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <input type="submit" class="fadeIn second" value="Reset Password">
            <div>
                <a class="underlineHover" href="{{ url_for('register.register') }}">Register</a>
            </div>
        </form>
        <!-- Remind Passowrd -->
        <div id="form-footer">
            <a class="underlineHover" href="{{ url_for('activation.reset_request') }}">Forgot Password ?</a>
        </div>
    </div>
</div>
{% endblock %}