{% extends '_base.html' %}

{% block title %}
   | Templates
{% endblock %}

{% block styles %}

{% endblock %}

<div class="flashes">
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}
</div>

{% block content %}
    <div class="container">
        <div class="col-lg-6">
          <form class="form-signin" method="POST" action="/add_template">
            <h2 class="form-signin-heading">Create a New Template</h2>
            {{ add_template_form.hidden_tag() }}
            {{ add_template_form.name(placeholder='Template Name') }}
            {{ add_template_form.fields(placeholder='Fields Names', rows=5, cols=70) }}
            <label for="add_template_default">Default: </label>{{ add_template_form.default }}
            <button class="btn btn-lg btn-primary btn-block add-template-btn" type="submit">Create Template</button>
          </form>
            <small><strong>Note:</strong> Separate each field name with a ","(comma) </small>
        </div>

        <div class="col-lg-6">
            <form class="form-signin" method="POST" action="/update_template">
                <h2 class="form-signin-heading">Update Existing Templates</h2>
                {{ update_template_form.hidden_tag() }}
                {{ update_template_form.name(placeholder='Template Name') }}
                {{ update_template_form.fields(placeholder='Fields Names', rows=5, cols=70) }}
                <label for="update_template_default">Default: </label>{{ update_template_form.default }}
                <button class="btn btn-lg btn-primary btn-block update-template-btn" type="submit">Update Template</button>
              </form>
        </div>
    </div> <!-- /container -->
{% endblock %}

{% block endscript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/template.js') }}"></script>
{% endblock %}