{% extends '_base.html' %}

{% block title %}
| Templates
{% endblock %}

{% block styles %}

{% endblock %}

<div class="flashes">
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
</div>

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 py-3">
        <form method="POST" action="/add_template">
            {{ add_template_form.hidden_tag() }}
            <h2>Create a New Template</h2>
            <div class="form-group">
                <label for="add_template_fields">New Template Name</label>
                {{ add_template_form.name(class="form-control", type="text", placeholder="New Template Name") }}
            </div>
            <div class="form-group">
                <label for="add_template_default">Template Fields</label>
                {{ add_template_form.fields(class="form-control", placeholder='Separate each field name with a ","(comma)') }}
            </div>
            <div class="form-group">
                <label class="col-form-label" for="add_template_default">Make This Default: </label>
                {{ add_template_form.default(class="from-control") }}
            </div>
            <button class="btn btn-primary" type="submit">Create Template</button>
        </form>
    </div>
    <div class="col-lg-6 py-3">
        <form method="POST" action="/update_template">
        <h2>Update Existing Templates</h2>
        {{ update_template_form.hidden_tag() }}
            <div class="form-group">
                <label for="update_template_name">New Template Name</label>
                {{ update_template_form.name(class="form-control", placeholder='Template Name') }}
            </div>
            <div class="form-group">
                <label for="update_template_fields">Template Fields</label>
                {{ update_template_form.fields(class="form-control", placeholder='Fields Names') }}
            </div>
            <div class="form-group">
                <label class="col-form-label" for="update_template_default">Make This Default: </label>
                {{ update_template_form.default(class="from-control") }}
            </div>
            <button class="btn btn-primary" type="submit">Update Template</button>
        </form>
    </div>
    </div>

</div>

{% endblock %}

{% block endscript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/template.js') }}"></script>
{% endblock %}