<h3>TOTALS</h3>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <td><strong>Mutual Total</strong></td>
        <td class="amount mutual"></td>
    </tr>
    <tr>
        <td><strong>Per Person Total</strong></td>
        <td class="amount perperson"></td>
    </tr>
    <tr>
        <td><strong>Personal</strong></td>
        <td class="amount personal"></td>
    </tr>
    <tr>
        <td><strong>Grand Total</strong><small> (Mutual + Personal)</small>
        </td>
        <td class="amount g_total"></td>
    </tr>
</table>