html, body{
    height: 100%;
    width: 100%;
}

input, select{
     box-shadow: #aeaeae 0px 2px 8px;
     height: 35px;
     margin-bottom: 10px;
     padding: 0;
}
input#password, input#email{
     width: 300px;
}
input:focus, select:focus{
    outline: none;
}
[id^='year']{
    width: 50px;
}
.btn-success{
    margin-left: 10px;
    margin-top: 25px;
}
.year{
    margin-left: 15px;
}

.totals{
    margin-left: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table .amount{
    font-weight: bold;
}

input#add_template_name, select#update_template_name{
    margin: 0 0 10px 0;
    }

input[type="checkbox"]
{
    vertical-align:middle;
    margin: 0 0 0 10px;;
    box-shadow: none;
}

.login, .register{
    width: 125px;
}

.add-template-btn, .update-template-btn{
    width: 200px;
}